.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sq-bin {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;

  .sq {
    background-color: gray;
    padding: 20px 40px;
    height: 80px;
    width: 60px;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    gap: 1px;
    align-items: center;
  }
}

button {
  margin-top: 30px;
  padding: 20px 30px;
  background-color: rgb(43, 126, 126);
  height: 90px;
  width: 120px;
  border-radius: 15px;
  border: 1px solid black;
  font-size: 16px;
  color: white;
}
.sml-btn-red {
  width: 15px;
  height: 5px;
  background-color: red;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  align-items: center;
}
.sml-btn-yellow {
  width: 15px;
  height: 15px;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  align-items: center;
}
